<%- include('../partials/header'); %>
<div class="tcontainer">
    <div class="ticker-wrap">
        <div class="ticker-move">
            <% currencies.data.forEach(item => { %>
            <div class="ticker-item"> <%= item.symbol%>: $<%= item.quote.USD.price%></div>
            <% }) %>
        </div>
    </div>
</div>
<div class="container mt-3 ">
    <div class="row">
        <div class="col">
            <div class="text-left">
                <h1 id="watchlist">Watchlist</h1>
                <table id="main-table" class="styled-table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Symbol</th>
                            <th scope="col">Current Price</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% accountDetails.watchlist.forEach((item,idx) => { %>
                        <tr>
                            <td><%= item.coin_name %></td>
                            <td><%= item.symbol %></td>
                            <td><%= item.price%></td>
                            <td>
                                <form method="POST" action="/user/watchlist/<%=item.slug%>?_method=PUT">
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                            </td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col">
            <div class="jumbotron mt-5">
                <h1 class="display-4">Account Balance</h1>
                <hr class="my-4">
                <p class="lead">You have <span
                        style="color:blue;font-weight:bold">$<%= accountDetails.acc_balance%></span> in
                    your account.</p>

            </div>
        </div>
    </div>
    <h1 id="portfolio">Portfolio</h1>
    <table id="main-table" class="styled-table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Symbol</th>
                <th scope="col">Qty</th>
                <th scope="col">Qty to sell</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <% accountDetails.coins.forEach((item,idx) => { %>
            <tr>
                <td><%= item.coin_name %></td>
                <td><%= item.symbol %></td>
                <td><%= item.quantity%></td>
                <td>
                    <form method="POST" action="/user/sell/<%=item.slug%>?_method=PUT">
                        <input type="number" class="form-control" name="qty" id="qty" min="1" max="<%= item.quantity %>"
                            value="1">
                        <button type="submit" class="btn btn-danger btn-block"> Sell </button>
                    </form>
                </td>
            </tr>
            <% }) %>
        </tbody>
    </table>
</div>
<%- include('../partials/footer'); %>